nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 12px;
}

nav li {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.button,
.button * {
  box-sizing: border-box;
}

.button {
  background: var(--var-sds-color-background-neutral-tertiary, #e3e3e3);
  border-radius: var(--var-sds-size-radius-200, 8px);
  border-style: solid;
  border-color: var(--var-sds-color-border-neutral-secondary, #767676);
  border-width: 1px;
  padding: 8px 16px;
  min-width: 120px;
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  transition: background 0.2s ease;
}

.button:hover {
  background: #ccc;
}

.button2 {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--single-line-body-base-font-family, "Inter", sans-serif);
  font-size: var(--single-line-body-base-font-size, 16px);
  line-height: var(--single-line-body-base-line-height, 100%);
  font-weight: var(--single-line-body-base-font-weight, 400);
  position: relative;
}

.btn-black {
  background-color: black !important;
  border-color: black !important;
}

.btn-black .button2 {
  color: white !important;
}
